body {
      font: 20px Montserrat, monospace;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color:#17a88b; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #505869; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #f2f2f2; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #1e1e1e; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 15px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
 